/**
 * CSS partial för _calendar.css
 *
 * I style.css:
 *
 *     @import 'css/calendar.css';
 */

.wpfc-calendar {
    color: #666;
    background-color: #fafafa;
    padding: 1em 2em 2em;
    max-width: 900px !important;
    margin: 0 auto 1em;
}

.wpfc-calendar > div h2, .wpfc-calendar .fc-head-container .fc-day-header {
    color: #222;
    text-transform: capitalize;
}

.popover { min-width: 180px; }
.popover .popover-body { white-space: pre-wrap; }