/**
 * CSS partial för _common
 *
 * I style.css:
 *
 *     @import 'css/_common.css';
 */

/* Document
---------------- */

/**
 * Standard fontstrl i webläsare är 16px
 * Sätt html (:root) till 62.5% = 10px
 * Anv rem för strl, em för line-height
 */

html {
    font-size: 10px;
    /* = 62.5% */
    line-height: 1.5em;
    -webkit-text-size-adjust: 100%;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    line-height: 1.5em;
    /* 21px */
    margin: 0;
    min-height: 100%;
    background: #f5f5f5;
}

/**
 *  Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0 0;
}

/* Text-level semantics
------------------------ */

/* Färg när man markerar text */

*::-moz-selection {
    background: rgba(168, 209, 255, 0.4);
}

*::selection {
    background: rgba(168, 209, 255, 0.4);
}

/* Default transition. Bara länkar (än sålänge) */

/* Remove the gray background on active links in IE 10. */

a, footer a {
    transition: all 0.25s ease-in-out;
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none;
    /* 1 */
    text-decoration: underline;
    /* 2 */
    text-decoration: underline dotted;
    /* 2 */
}

/* Add the correct font weight in Chrome, Edge, and Safari. */

b, strong {
    font-weight: bolder;
}

/* Correct the inheritance and scaling of font size and the odd `em` font sizing. */

pre, code, kbd, samp {
    font-family: monospace;
    font-size: 1em;
}

/* Add the correct font size in all browsers. */

small {
    font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height. */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Forms
---------------- */

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    /* Firefox and Safari. */
}

/* Show the overflow in IE. */

button, input {
    overflow: visible;
}

/* Remove the inheritance of text transform. */

button, select {
    text-transform: none;
}

/* Correct the inability to style clickable types in iOS and Safari. */

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

/* Remove the inner border and padding in Firefox. */

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/* Restore the focus styles unset by the previous rule. */

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/* Correct the padding in Firefox. */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *      `fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box;
    /* 1 */
    color: inherit;
    /* 2 */
    display: table;
    /* 1 */
    max-width: 100%;
    /* 1 */
    padding: 0;
    /* 3 */
    white-space: normal;
    /* 1 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera. */

progress {
    vertical-align: baseline;
}

/* Remove the default vertical scrollbar in IE 10+. */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"], [type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

/* Remove the inner padding in Chrome and Safari on macOS. */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

/* Interactive
---------------- */

/* Add the correct display in Edge, IE 10+, and Firefox. */

details {
    display: block;
}

/* Add the correct display in all browsers. */

summary {
    display: list-item;
}

/* Misc
---------------- */

/* Add the correct display in IE 10+. */

template, [hidden] {
    display: none;
}

/* Typography
---------------- */

body, button, input, select, optgroup, textarea {
    color: #404040;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.5em;
    /* 21px */
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
}

p {
    margin-bottom: 1.2em;
}

p:empty {
    display: none;
}

em.faq {
    color: #512483;
    font-weight: 700;
}

dfn, cite, em, i {
    font-style: italic;
}

em.empty {
    color: #555;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 1.3rem;
    line-height: 1.5em;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1.3rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

small {
    font-size: 80%;
}

/* Elements
---------------- */

/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */

*, *:before, *:after {
    box-sizing: inherit;
}

hr {
    box-sizing: content-box;
    overflow: hidden;
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

hr.separator {
    margin: 3.5em 0;
}

ul {
    margin: 0 0 1.5em 1.5em;
    list-style: disc;
}

ol {
    margin: 0 0 1.5em;
    list-style: decimal;
}

ul>li, ol>li {
    margin-bottom: 3px;
    margin-left: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

/* Embedded content
------------------- */

/**
 * Remove the border on images inside links in IE 10.
 * Make sure images are scaled correctly.
 * Adhere to container width.
 *
 */

img {
    border-style: none;
    height: auto;
    max-width: 100%;
    /* Visa bilder “bättre” */
    image-rendering: -moz-pixalated;
    image-rendering: -o-pixalated;
    image-rendering: pixalated;
    -ms-interpolation-mode: bicubic;
}

img[src$=".gif"], img.sharper {
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: optimize-contrast;
    /* CSS3 name suggestion */
    -ms-interpolation-mode: nearest-neighbor;
}

/* Extra wide images within figure tags don't overflow the content area. */

figure {
    margin: 0 0 1.5em;
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

table thead tr {
    background: #e9e9e9;
}

table thead td {
    font-size: 1.2em;
    padding: 0.5rem
}

table tbody td {
    height: 1.5em;
}

div.wp-block-image {
    margin: 0 auto;
}

div.wp-block-image:first-child figure.alignleft, div.wp-block-image:first-child figure.alignright {
    margin-bottom: 0.5em;
}

/* Forms
---------------- */

button, input[type="button"], input[type="reset"], input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.2rem;
    line-height: 1em;
    padding: .6em 1em .4em;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active, button:focus, input[type="button"]:active, input[type="button"]:focus, input[type="reset"]:active, input[type="reset"]:focus, input[type="submit"]:active, input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="number"]:focus, input[type="tel"]:focus, input[type="range"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="time"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="color"]:focus, textarea:focus {
    color: #111;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

/* Buttons
---------------- */
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .btn {
        transition: none;
    }
}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled, .btn:disabled {
    opacity: 0.65;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #fff;
    background-color: var(--pp-orange);
    border-color: var(--pp-orange);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--pp-lila);
    border-color: var(--pp-lila);
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: var(--pp-lila);
    border-color: var(--pp-lila);
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: var(--pp-morkbla);
    border-color: var(--pp-morkbla);
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

/* Colors
---------------- */

.pp-lila {
    background-color: var(--pp-lila);
}

.pp-orange {
    background-color: var(--pp-orange);
}

.pp-gul {
    background-color: var(--pp-gul);
}

.pp-gron {
    background-color: var(--pp-gron);
}

.pp-rosa {
    background-color: var(--pp-rosa);
}

.pp-rod {
    background-color: var(--pp-rod);
}

.pp-bla {
    background-color: var(--pp-bla);
}

.pp-morkbla {
    background-color: var(--pp-morkbla);
}

.pp-turkos {
    background-color: var(--pp-turkos);
}

/* Menus
---------------- */

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999;
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0;
}

.main-navigation ul ul li:hover>ul, .main-navigation ul ul li.focus>ul {
    left: 100%;
}

.main-navigation ul ul a {
    width: 200px;
}

.main-navigation ul li:hover>ul, .main-navigation ul li.focus>ul {
    left: auto;
}

.main-navigation li {
    float: left;
    position: relative;
}

.main-navigation a {
    display: block;
    text-decoration: none;
}

/* Small menu. */

.menu-toggle, .main-navigation.toggled ul {
    display: block;
}

@media screen and (min-width: 37.5em) {
    .menu-toggle {
        display: none;
    }
    .main-navigation ul {
        display: block;
    }
}

.site-main .comment-navigation, .site-main .posts-navigation, .site-main .post-navigation {
    margin: 0 0 1.5em;
    overflow: hidden;
}

.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
    float: right;
    text-align: right;
    width: 50%;
}

.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
    float: left;
    width: 50%;
}

nav.navigation .nav-links {
    width: 95vw;
    margin: 0 auto;
}

nav.navigation .nav-links .nav-previous:after, nav.navigation .nav-links .nav-next:before {
    color: #222;
    font-weight: 300;
}

nav.navigation .nav-links .nav-previous:after {
    content: '\3009';
    padding-left: .5em
}

nav.navigation .nav-links .nav-next:before {
    content: '\3008';
    padding-right: .5em
}

/* Accessibility
---------------- */

/* Text meant only for screen readers. */

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important;
    /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}