/**
 * CSS partial _content.css
 *
 * I style.css:
 *
 *     @import 'css/_content.css';
 */

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus { outline: 0; }


/* Alignments
---------------- */
.alignleft { display: inline; float: left; margin: 0 1.5em 1.5em 0; }
.alignright { display: inline; float: right; margin: 0 0 1.5em 1.5em; }
.aligncenter { float: none; clear: both; display: block; margin: 1.5em auto; }


/* Clearings
---------------- */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: '';
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

.clearfix:after,
.text-block:after,
.news-list p:last-of-type:after,
.tabContent_inner ._content_fixer:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* Widgets
---------------- */

/* Make sure select elements fit in widgets. */
.widget { margin: 0 0 1.5em; }
.widget select { max-width: 100%; }


/* Content
---------------- */


/* Posts & pages
---------------- */
.sticky { display: block; }
.updated:not(.published) { display: none; }
.page-content, .entry-content, .entry-summary { margin: 1.5em 0 0; }
.page-links { clear: both; margin: 0 0 1.5em; }


/* Comments
---------------- */
.comment-content a { word-wrap: break-word; }
.bypostauthor { display: block; }


/* Infinite scroll
------------------ */

/* Globally hidden elements when Infinite Scroll is supported and in use.
   Theme Footer (when set to scrolling) */
.infinite-scroll .posts-navigation, .infinite-scroll.neverending .site-footer { display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer { display: block; }


/* Media
---------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/* medlemsstatistik */
iframe.member-frame {
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 5px;
    margin: 0 0 1.5em;
    width: 100vw;
    height: 360px;
}

iframe.member-frame:last-child { margin: 0; }

div.member-noframes { font-size: 0.9em; display: none; }

@media screen and (max-width: 750px) {
    iframe.member-frame { display: none;}
    div.member-noframes { display: block; }
}


/* Make sure logo link wraps around logo image. */
.custom-logo-link { display: inline-block; }


/* Captions
---------------- */
.wp-caption { margin-bottom: .5em; max-width: 100%; }
.wp-caption img[class*="wp-image-"] { display: block; margin-left: auto; margin-right: auto; }
.wp-caption .wp-caption-text { margin: 0.8075em 0; }
.wp-block-image figcaption, .wp-caption-text {
    color: #555;
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
}


/* Quotes */
.content blockquote.wp-block-quote,
._content blockquote.wp-block-quote {
    margin: 0 0 2em .5em;
    padding-left: 1em;
    border-left: 2px solid #e9e9e9;
    font-size: 1.05em;
    font-weight: 400;
    color: #333;
}

blockquote.wp-block-quote p { font-style: italic; }
blockquote.wp-block-quote cite { font-style: normal; font-size: .9em; color: #666; }


/* Galleries
---------------- */
.gallery { margin-bottom: 1.5em; }

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item { max-width: 50%; }
.gallery-columns-3 .gallery-item { max-width: 33.33%; }
.gallery-columns-4 .gallery-item { max-width: 25%; }
.gallery-columns-5 .gallery-item { max-width: 20%; }
.gallery-columns-6 .gallery-item { max-width: 16.66%; }
.gallery-columns-7 .gallery-item { max-width: 14.28%; }
.gallery-columns-8 .gallery-item { max-width: 12.5%; }
.gallery-columns-9 .gallery-item { max-width: 11.11%; }

.gallery-caption { display: block; }


/* Links
----------------
PP-blå:     #00a6d0/rgb(0, 166, 208) (hover + visited)
PP-mörkblå: #005c9f/rgb(0, 92, 159)
 */
a, a:visited { color: rgb(0, 92, 159); }
a:hover, a:focus, a:active { color: rgb(0, 166, 208); }
a:focus { outline: #333; }
a:hover, a:active { outline: 0; }

a.mention-link, a.mention-link:visited,
a.mention-link:hover, a.mention-link:focus,
a.mention-link:active, a.mention-link:focus {
    color: rgb(0, 92, 159);
    outline: 0;
}

a.read_more, span.read_more, a.read-more, span.read-more { font-style: italic; }

/* Telefonlänkar */
a[href^="tel:"] {
    border: 1px solid #c4c4c4 !important;
    border-radius: 5px;
    color: #555;
    display: inline-block;
    font-size: inherit;
    font-style: normal;
    padding: 0 .3em;
    text-decoration: none;
}

a[href^="tel:"]:hover { color: rgb(0, 166, 208); }

a[href^="tel:"]:before {
    content: "\260E";
    color: #333;
    display: inline;
    margin-right: 0.3em;
}


/* Lato + standard fontstack */
body {
    color: #fff;
    overflow-x: hidden;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 400;

    /* med webfonter behövs font-smoothing... */
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-display: auto;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; /* auto på mörk bakrund/vit text då fonten är mindre */

    -webkit-hyphens: manual;
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}

/* lite skugga i toppen */
body:before {
    content: '';
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, .7);
    z-index: 5000;
}

footer {
    /*float: left;*/
    width: 100%;
    display: block;
    position: relative;
    background-color: #222;
}

.content img, ._content img { margin: .5em inherit 1em; }
/*._content:last-child { margin-bottom: 0; padding-bottom: 5em; }*/
.page-content, ._content { margin-bottom: 0; padding-bottom: 5em; }
.page-content p em, ._content p em { font-style: italic; }


.feature, .feature.archive-header, .fullbreddsbild {
    position: relative;
    display: block;
    background-color: #512483;
    height: 49vh;
    min-height: 450px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.feature img { min-width: 100%; }
.feature.archive-header { min-height: 330px; }

.fullbreddsbild img._img { width: 100%; }

.page-content h1, .page-content h2,
.content h1, .content h2, .content h3,
.content h4, .content h5, .content h6,
._content h1, ._content h2, ._content h3,
._content h4, ._content h5, ._content h6 {
    color: #222;
    margin: 2em 0 .8em;
    line-height: 1em;
}

.content h1:first-child, ._content h1:first-child,
.content h2:first-child, ._content h2:first-child {
    margin: 0 auto .8em;
}

.content p:first-of-type, ._content p:first-of-type { margin-top: 0; }

@media screen and (min-width: 900px) {
    .page-content h1, .content h1, ._content h1 { font-size: 22px; }
    .page-content h2, .content h2, .content h3, .content h4, .content h5, .content h6,
    ._content h2, ._content h3, ._content h4, ._content h5, ._content h6 { font-size: 20px; }
}

@media screen and (min-width: 768px) and (max-width: 900px)  {
    .page-content h1, .content h1, ._content h1 { font-size: 22px; }
    .page-content h2, .content h2, .content h3, .content h4, .content h5, .content h6,
    ._content h2, ._content h3, ._content h4, ._content h5, ._content h6 { font-size: 20px; }
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    .page-content h1, .content h1, ._content h1 { font-size: 20px; }
    .page-content h2, .content h2, .content h3, .content h4, .content h5, .content h6,
    ._content h2, ._content h3, ._content h4, ._content h5, ._content h6 { font-size: 18px; }
}

.page-content, .content, ._content { padding-top: 2.5em; color: #222; font-size: 16px; }


@media screen and (max-width: 575px) {
    .page-content, .content, ._content { padding: 1em 2em 1em 2em; }
}

@media screen and (min-width: 768px) {
    .page-content, .content, ._content { font-size: 15px; }
}

ul { padding: 0; margin-bottom: 1em; }
