/**
 * CSS partial för _css_vars
 *
 * I style.css:
 *
 *     @import 'css/_css_vars.css';
 *
 * För framtida anv av CCS-varabler, för att kunna
 * spec'a värden som sen används i CSS-filen
 *
 */

/* todo:
   - https://codepen.io/aaronbarker/pen/MeaRmL
   - https://github.com/aaronbarker/css-variables-polyfill/

<!--[if IE]>
webcomponents
<![endif]-->

<!--[if IE]>
<script … polyfill
<![endif]-->
</body>
*/

:root {
 /**
 * PP-färger (fr wiki, webfärgerna)
 *
 *  --namn: rgb();                         hex
 * ------------------------------------------------- */
    --pp-lila: rgb(81, 36, 131);        /* #512483, primärfärg */
    --pp-orange: rgb(242, 137, 3);      /* #f28903, sekundärfärg */
    --pp-gul: rgb(234, 189, 0);         /* #eabd00 */
    --pp-gron: rgb(149, 180, 32);       /* #95b420 */
    --pp-rosa: rgb(216, 46, 138);       /* #d82e8a */
    --pp-rod: rgb(207, 35, 44);         /* #cf232c */
    --pp-bla: rgb(0, 166, 208);         /* #00a6d0 */
    --pp-morkbla: rgb(0, 92, 159);      /* #005c9f */
    --pp-turkos: rgb(0, 160, 155);      /* #00a09b */
}
