/**
 * CSS partial för footern
 *
 * I style.css:
 *
 *     @import 'css/_footer.css';
 */

/* Footern i botten */
body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

div.site {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
}

footer {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    display: block;
    width: 100%;
    position: relative;
    clear: both;
    color: #f5f5f5;
    background: #333;
    /*height: 100px;*/
    padding: 1.5em 3em 0 ;
    font-size: 14px;
}

/* Network nav */
nav.network {
    width: 100%;
    display: block;
    position: relative;
    background: #222;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
}

nav.network ul {
    display: table;
    margin: .5em auto;
    list-style: none;
    position: relative;
}

nav.network ul li { float: left; font-size: 23px; margin: 1em 50px; }
nav.network a, footer a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

nav.network a:visited, footer a:visited { color: #fff; }

nav.network a:hover, footer a:hover {
    color: rgb(0, 166, 208);
    border-bottom: 1px solid rgba(0, 166, 208, .85);
}

nav.network ul li a, nav.network ul li a:hover,
footer ul li a, footer ul li a:hover {
    border-width: 2px;
}

/* Social links - Follow us */
.follow-us { float: right; width: 25vw; margin: 0 0 1.5em; position: relative; }

.follow-us ul {
    display: block;
    list-style: none;
    margin: 0 .5em 0 0;
    padding: 0;
    position: relative;
    z-index: 2;
}

.follow-us ul li {
    float: left;
    margin: 0 1.5em .5em 0;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;
    position: relative;
}

.follow-us a.fab, .follow-us a.fas {
    color: #f5f5f5;
    font-size: 4rem;
    border: none;
    text-shadow: 0 2px 2px rgba(0, 0, 0, .6);
}

.follow-us a.fab:visited, .follow-us a.fab:active, .follow-us a.fas:visited, .follow-us a.fas:active {
    color: #f5f5f5;
}

.follow-us a.fab.fa-twitter:hover { color: rgb(29, 161, 242); }
.follow-us a.fab.fa-facebook:hover { color: rgb(66, 103, 178); }
.follow-us a.fab.fa-instagram:hover { color: rgb(188, 42, 141); } /* violet */
.follow-us a.fab.fa-youtube:hover { color: rgb(255, 0, 0); }
.follow-us a.fab.fa-gitlab:hover { color: rgb(252, 163, 38); } /* crayola */
.follow-us a.fab.fa-twitch:hover { color: rgb(100, 65, 164); }
.follow-us a.fab.fa-mastodon:hover { color: rgb(43, 144, 217); }
.follow-us a.fab.fa-discord:hover { color: #7289DA; }
.follow-us a.fas.fa-rss:hover { color: #F28903; }

/* fb/youtube-fix */
.follow-us a.fab.fa-facebook:after,
.follow-us a.fab.fa-youtube:after,
.follow-us a.fab.fa-mastodon:after,
.follow-us a.fab.fa-discord:after {
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: absolute;
    content: '';
    background: #fff;
    z-index: -1;
    overflow: hidden;
}

.follow-us a.fab.fa-facebook:hover:after { top: 7px; left: 2px; width: 30px; height: 30px; }
.follow-us a.fab.fa-youtube:hover:after,
.follow-us a.fab.fa-mastodon:hover:after,
.follow-us a.fab.fa-discord:hover:after {
    top: 8px;
    left: 5px;
    width: 24px;
    height: 18px;
}

footer a, footer a:hover, footer a:visited {
    color: rgb(0, 166, 208);
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

footer a:hover { border-bottom: 1px solid rgba(0, 166, 208, .85); }


footer div.footer-info {
    clear: both;
    width: 100%;
    display: block;
    background: #333;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 1em;
    padding: 0.5em 0 1em;
    border-top: 1px solid rgba(255, 255, 255, .25);
}

.footer-info p, .footer-info p a {
    margin: .5em auto;
}

footer div.footer-content {
    clear: left;
    float: left;
    max-width: 40vw;
    overflow: hidden;
}

footer div.footer-logo, footer div.cc-by {
    clear: left;
    float: left;
    width: 225px;
    height: 40px;
    margin: 1em 0 1em;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

footer div.footer-logo, footer div.cc-by {
    clear: left;
    float: left;
    width: 225px;
    height: 40px;
    margin: 1em 0 1em;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}

footer div.cc-by {
    width: 80px;
    height: 30px;
}

footer div.cc-by a, footer div.footer-logo a { display: block; height: 100%; border: 0; }

@media screen and (max-width: 1285px) {
    nav.network a { font-size: 20px; }
    nav.network ul li {  margin: .8em 30px; }
    .follow-us { width: 30vw; }
    .follow-us ul { margin: 0; }
}

@media screen and (max-width: 768px) {
    nav.network a, footer a { font-size: 18px; }
    nav.network ul li { margin: .5em 20px; }
    .footer-content a,
    .footer-info p a { font-size: 14px; }
}

@media screen and (max-width: 575px) {
    nav.network ul li {
        width: 30vw;
        margin: .5em 20px;
    }
    nav.network ul li:nth-child(3) {
        clear: both;
    }
    footer {
        padding: 1.5em 1.5em 0;
    }
    footer div.footer-logo {
        clear: both;
        width: 180px;
        height: 32px;
        margin: 2em 0 0;
    }
    .follow-us {
        float: none;
        display: block;
        width: 100%;
        margin: 0 0 1.5em;
    }
    .follow-us ul li {
        margin: 0 1.2em .5em 0;
    }
    .follow-us a.fab {
        font-size: 3rem;
    }

    .follow-us a.fab.fa-facebook:hover:after {
        top: 5px;
        width: 22px;
        height: 23px;
    }
    .follow-us a.fab.fa-youtube:hover:after,
    .follow-us a.fab.fa-mastodon:hover:after {
        top: 5px;
        width: 18px;
        height: 14px;
    }

    footer div.footer-content {
        max-width: 100%;
    }
}
