/**
 * CSS partial för #hamburger
 *
 * I style.css:
 *
 *     @import 'css/_hamburger_menu.css';
 */

/* PP-Menyn
---------------- */

body.menu-open {
    overflow-y: hidden;
}

@media screen and (min-width: 1285px) {
    body.menu-open {
        overflow-y: scroll;
    }
}

/**
 * PP-Lila + olika “shades”
 * -------------------------
 * hex: #512483
 * rgb(81, 36, 131); (0)
 * rgb(73, 32, 118); (-10%)
 * rgb(65, 29, 105); (-20%)
 * rgb(57, 25, 92); (-30%)
 * rgb(49, 22, 79); (-40%)
 * rgb(40, 18, 65); (-50%)
 */

#site-navigation {
    position: fixed;
    overflow-y: auto;
    top: 0;
    right: -100%;
    max-height: 100%;
    height: 100%;
    z-index: 200;
    padding-top: 2em; /* 4em */
    padding-bottom: 8em;
    background: rgba(57, 25, 92, .95); /* PP-lila + 30% shade */
    background-image: radial-gradient(transparent 45%, rgba(0, 0, 0, .35));
    transition: all 0.25s ease-in-out;
}

#site-navigation.open { right: 0; }

#site-navigation ul > li { width: 100%; text-align: center; padding: 0 3.2rem; }

#site-navigation ul > li a {
    font-size: 30px;
    line-height: 1.5rem;
    border-bottom: 1px solid rgba(221, 221, 221, .6); /* #ddd */
    font-weight: 700;
    padding: .6em 0;
    color: #fff;
}

#site-navigation ul > li:last-child a { border-bottom: 0px solid transparent; }

@media only screen and (max-width: 400px) {
    #site-navigation ul > li a { font-size: 24px; } /* 1.5 */
}

@media screen and (min-width: 1285px) {
    #site-navigation {
        margin-top: 130px;
        margin-bottom: 0px;
        height: 70vh;
        width: 20%;
        max-height: 80vh;
        max-width: 800px;
        background: 0;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkiAMAAGQAYG61VcsAAAAASUVORK5CYII=);
        border-radius: 13px 0 0 13px;
    }

    #site-navigation ul > li a {
        font-size: 20px;
        line-height: 20px;
    }
}

/* HAMBURGER */
#hamburger_holder {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 303;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkiAMAAGQAYG61VcsAAAAASUVORK5CYII=);
    border-radius: 0 0 0 20%;
}

#hamburger { position: relative; margin: 12px 10px 8px 13px; }

#hamburger {
    width: 50px;
    height: 45px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}

#hamburger span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#hamburger span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

#hamburger span:nth-child(2) {
    top: 16px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

#hamburger span:nth-child(3) {
    top: 32px;
    -webkit-transform-origin: left center;
    transform-origin: left center;
}

#hamburger.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#hamburger.open span:nth-child(2) { width: 0%; opacity: 0; }

#hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

/* HAMBURGER */
