/**
 * Lato - Webfont
 *
 * (.ttf-filerna kan komma att tas bort senare)
 *
 * weight           Lato
 * -----------------------------
 * 100 Thin         Hairline
 * 200 Extra Light  Thin
 * 300 Light        Light
 * 400 Regular      Regular
 * 500 Semibold     Medium
 * 600 Semibold     Semibold
 * 700 Bold         Bold
 * 800 Extra Bold   Heavy
 * 900 ExtraBold    Black
 */

@font-face {
    font-family: 'Lato';
    src: local('Lato Hairline'), local('Lato-Hairline'),
         url('fonts/Lato/Lato-Hairline.woff2') format('woff2'),
         url('fonts/Lato/Lato-Hairline.woff') format('woff'),
         url('fonts/Lato/Lato-Hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Hairline Italic'), local('Lato-HairlineItalic'),
         url('fonts/Lato/Lato-HairlineItalic.woff2') format('woff2'),
         url('fonts/Lato/Lato-HairlineItalic.woff') format('woff'),
         url('fonts/Lato/Lato-HairlineItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Thin'), local('Lato-Thin'),
         url('fonts/Lato/Lato-thin/lato-Thin.woff2') format('woff2'),
         url('fonts/Lato/Lato-thin/lato-Thin.woff') format('woff'),
         url('fonts/Lato/Lato-thin/lato-Thin.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Thin Italic'), local('Lato-ThinItalic'),
         url('fonts/Lato/Lato-ThinItalic.woff2') format('woff2'),
         url('fonts/Lato/Lato-ThinItalic.woff') format('woff'),
         url('fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Light'), local('Lato-Light'),
         url('fonts/Lato/Lato-Light.woff2') format('woff2'),
         url('fonts/Lato/Lato-Light.woff') format('woff'),
         url('fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Light Italic'), local('Lato-LightItalic'),
         url('fonts/Lato/Lato-LightItalic.woff2') format('woff2'),
         url('fonts/Lato/Lato-LightItalic.woff') format('woff'),
         url('fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Regular'), local('Lato-Regular'),
         url('fonts/Lato/Lato-Regular.woff2') format('woff2'),
         url('fonts/Lato/Lato-Regular.woff') format('woff'),
         url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Italic'), local('Lato-Italic'),
         url('fonts/Lato/Lato-Italic.woff2') format('woff2'),
         url('fonts/Lato/Lato-Italic.woff') format('woff'),
         url('fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Medium'), local('Lato-Medium'),
         url('fonts/Lato/Lato-Medium.woff2') format('woff2'),
         url('fonts/Lato/Lato-Medium.woff') format('woff'),
         url('fonts/Lato/Lato-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Medium Italic'), local('Lato-MediumItalic'),
         url('fonts/Lato/Lato-MediumItalic.woff2') format('woff2'),
         url('fonts/Lato/Lato-MediumItalic.woff') format('woff'),
         url('fonts/Lato/Lato-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold'), local('Lato-SemiBold'),
         url('fonts/Lato/Lato-SemiBold.woff2') format('woff2'),
         url('fonts/Lato/Lato-SemiBold.woff') format('woff'),
         url('fonts/Lato/Lato-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Semibold Italic'), local('Lato-SemiBoldItalic'),
         url('fonts/Lato/Lato-SemiboldItalic.woff2') format('woff2'),
         url('fonts/Lato/Lato-SemiboldItalic.woff') format('woff'),
         url('fonts/Lato/Lato-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


@font-face {
    font-family: 'Lato';
    src: local('Lato Bold'), local('Lato-Bold'),
         url('fonts/Lato/Lato-Bold.woff2') format('woff2'),
         url('fonts/Lato/Lato-Bold.woff') format('woff'),
         url('fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'),
         url('fonts/Lato/Lato-BoldItalic.woff2') format('woff2'),
         url('fonts/Lato/Lato-BoldItalic.woff') format('woff'),
         url('fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy'), local('Lato-Heavy'),
         url('fonts/Lato/Lato-Heavy.woff2') format('woff2'),
         url('fonts/Lato/Lato-Heavy.woff') format('woff'),
         url('fonts/Lato/Lato-Heavy.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Heavy Italic'), local('Lato-HeavyItalic'),
         url('fonts/Lato/Lato-HeavyItalic.woff2') format('woff2'),
         url('fonts/Lato/Lato-HeavyItalic.woff') format('woff'),
         url('fonts/Lato/Lato-HeavyItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Black'), local('Lato-Black'),
         url('fonts/Lato/Lato-Black.woff2') format('woff2'),
         url('fonts/Lato/Lato-Black.woff') format('woff'),
         url('fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    src: local('Lato Black Italic'), local('Lato-BlackItalic'),
         url('fonts/Lato/Lato-BlackItalic.woff2') format('woff2'),
         url('fonts/Lato/Lato-BlackItalic.woff') format('woff'),
         url('fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}