/**
 * CSS partial för logo_holder*, buttons_banner*
 * och pledga-grejer.
 *
 * I style.css:
 *
 *     @import 'css/_logo_buttons.css';
 */

#main {
    background-color: #f5f5f5;
    /*padding-bottom: 10em;*/
}

.logo_holder {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    margin: 1.5em 0 0 9%;
}

.logo_holder.small {
    max-width: 94px;
    margin: 0;
    -moz-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.logo_holder ._title {
    font-size: 6rem;
    text-align: center;
    line-height: 0em;
    color: #222;
}

.logo_holder .logo { position: absolute; width: 100%; }
.logo_holder .logo img { height: auto; width: 100%; }
.logo_holder .logo img.small { width: 100%; }

@media screen and (min-width: 700px) {
    .logo_holder .logo img { height: auto; width: 95%; }
}

.logo_holder.small ._title,
.logo_holder.small .logo img.big,
.logo_holder .logo img.small {
    display: none;
}

.logo_holder.small .logo img.small { display: block; }
.logo_holder.small .logo {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkiAMAAGQAYG61VcsAAAAASUVORK5CYII=);
    border-radius: 0 0 20% 0;
}

/* neg marginal = ingen flickering i vänsterkanten */
.text-banner, .pledga_din_rost { display: block; overflow: hidden; margin: 0 -1px 0 0;  }
.text-banner-inner, .pledga_din_rost_inner {
    margin: 0 0 0 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
.text-banner-inner, .pledga_din_rost_inner {
    margin: 0 0 0 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.text-banner-inner img, .pledga_din_rost img {
    display: inline-block;
    width: 40px;
    margin: 0 10px 3px 0 ;
    -webkit-transform: translateY(25%);
    -ms-transform: translateY(25%);
    transform: translateY(25%);
}

.text-banner p,.pledga_din_rost p {
    margin: 0;
    line-height: 1em;
    font-size: 40px;
    white-space: nowrap;
}


/*  Video wrapper */
article.video-wrapper { position: relative; padding: 56.25% 0 0; background: #222; }

article.video-wrapper iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: 1px solid #333;
    box-shadow: 0 8px 12px -2px rgba(0,0,0,.6);
}

article.video-wrapper div.wp-video {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% !important;
    height: 90%;
    border: 1px solid #333;
    box-shadow: 0 8px 12px -2px rgba(0,0,0,.6);
}

@media only screen and (min-width: 1285px) {
    article.video-wrapper {  height: 740px; padding: 0; background: #222; }
    article.video-wrapper iframe {
        margin: 0 auto;
        top: 50px;
        left: 0;
        right: 0;
        width: 1138px;
        height: 640px;
        border: 1px solid #333;
        box-shadow: 0 8px 12px -2px rgba(0,0,0,.6);
    }
    article.video-wrapper div.wp-video {
        margin: 0 auto;
        top: 50px;
        left: 0;
        right: 0;
        width: 1138px !important;
        height: 640px;
        border: 1px solid #333;
        box-shadow: 0 8px 12px -2px rgba(0,0,0,.6);
    }
}


section, article { width: 100%; }

.marginBottom { margin-bottom: 2rem; }

.buttons_banner_bg {
    background-color: #512483;
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
}

@media only screen and (max-width: 1000px) {
    .buttons_banner_bg {
        background-size: cover !important;
        background-position: center center;
    }
}

.header_text_h1, .buttons_banner_h1 {
    position: absolute;
    bottom: 0;
    margin: 2em 0 0.4em calc(9% - 3px);
    text-align: left;
    width: 60vw;
    font-size: 9rem;
    font-weight: 700;
    padding: 0;
    line-height: 1.1em;
    text-shadow: -1px 0 rgba(34, 34, 34, .4),
                 0 1px rgba(34, 34, 34, .4),
                 1px 0 rgba(34, 34, 34, .4),
                 0 -1px rgba(34, 34, 34, .4);
}

.buttons_banner_container { height: 80vh; display: block; position: relative; }

@media only screen and (min-width: 576px) {
    .buttons_banner_buttons { position: absolute !important; bottom: 0; }
}

.single .full-width-banner { background-color: #f28903; width: 100%; }
.single .feature { width: 100%; max-height: 49vh; }
.single .feature img { width: 100%; }

.single .content {
    width: 100%;
    background-color: #fafafa;
    color: #222;
}

.button { text-align: center; }
.button a { float: left; width: 100%; }
.button p { margin: 2rem; background-color: #512483; padding: 1em; }

.full-width-banner {
    width: calc(100% + 1px);
    text-align: center;
    padding: 0.75em 0;
    background-color: #512483;
}

.full-width-banner h3 {
    margin: 0;
    margin: 0 .5em;
    font-size: 22px;
    font-weight: 500;
    line-height: 1em;
}

.full-width-banner h3 a {
    text-decoration: none;
    border: none;
    color: #fff !important;
}

.full-width-banner h3 a span {
    color: #d9d9d9;
    font-size: .8em;
}

.full-width-banner.pp-lila { background-color: #512483; }
.full-width-banner.pp-orange { background-color: #f28903; }
.full-width-banner.pp-gul { background-color: #eabd00; }
.full-width-banner.pp-gron { background-color: #95b420; }
.full-width-banner.pp-rosa { background-color: #d82e8a; }
.full-width-banner.pp-rod { background-color: #cf232c; }
.full-width-banner.pp-bla { background-color: #00a6d0; }
.full-width-banner.pp-morkbla { background-color: #005c9f; }
.full-width-banner.pp-turkos { background-color: #00a09b; }


/* Media screens */
@media screen and (max-width: 768px) {
    .single .content { padding: 2em 2em 5em; }
}

@media screen and (min-width: 300px) and (max-width: 576px) {
    .tabContent_inner ._content > div .top p { width: 70vw; }
    .tabContent_inner ._content > div {
        margin: 1em !important;
        width: calc(100% - 2em) !important;
        padding: 1em 1em 1em 1em !important;
    }
    .single .content { padding: 1em 1em 5em; }
}

@media screen and (min-width: 576px) {
    .tabContent_inner ._content > div .top p { width: 70vw; }
}

@media screen and (min-width: 768px) {
    .tabContent_inner ._content > div .top p { width: 56vw; }
    .single .content { padding: 2em 3em 5em; }
}

@media screen and (min-width: 992px) {
    .tabContent_inner ._content > div .top p { width: 43.3vw; }
}

.full-width-banner p { padding: 0; margin: 0; width: 100%; }
