#slider {
    background: #f5f5f5;
}

.news-slider-image {
    display: block;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 3px 2px #bbb;
}

div.col-sm-12.news-slider-text {
    padding-left: 20px;
    padding-right: 20px;
    color: #222;
}

div.col-sm-12.news-slider-text h1 {
    margin: initial;
    margin-top: 40px;
}

@media screen and (max-height: 640px) {
    .carousel-item.news-slide div.row {
        height: 45% !important;
    }
    .carousel-item.news-slide div.row.row-news-slider-text {
        height: 55% !important;
    }
}

@media screen and (max-width: 768px) {
    .carousel-item.news-slide div.row {
        height: 45% !important;
    }
    .carousel-item.news-slide div.row.row-news-slider-text {
        height: 55% !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1360px) {
    div.col-sm-12.news-slider-text h1 {
        font-size: 20px;
    }
}

@media screen and (min-width: 1360px) {
    div.col-sm-12.news-slider-text h1 {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 8px;
    }
}

@media screen and (min-width: 1920px) {
    div.col-sm-12.news-slider-text {
        font-size: 1.8rem;
    }
}

.news-slider-text {
    color: #222;
    box-shadow: 0px -2px 3px 2px #bbb inset;
}

.carousel-item div.slider-image {
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-inner {
    max-height: 100%;
}

#slider .carousel-indicators {
    transition: bottom 0.5s;
}

#slider .carousel-indicators.news {
    bottom: 30%;
}

@media screen and (max-width: 768px) {
    #slider .carousel-indicators {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-height: 1285px) {
    div.col-sm-12.news-slider-text {
        padding-left: 10em;
        padding-right: 10em;
    }
}

@media screen and (min-width: 1285px) {
    div.col-sm-12.news-slider-text {
        padding-left: 20em;
        padding-right: 20em;
    }
}