/**
 * CSS partial för .three-tabs, .news_list
 *
 * I style.css:
 *
 *     @import 'css/_tabs_newslist.css';
 */

.three-tabs.row { margin: 0; width: 100%; background: #333; }

.tab_three {
    border: 2px solid rgb(51, 51, 51);
    border-left: 1px solid rgb(51, 51, 51);
    border-bottom: none;
    display: block;
    width: 33.333333%;
    position: relative;
}

.tab_three:first-of-type { border-left: 2px solid rgb(51, 51, 51); }

.three-tabs p { margin-top: 2rem; margin-bottom: 2rem; text-align: center; }

.three-tabs .tab_button { height: 50px; }

.three-tabs .tab_button p {
    position: absolute;
    width: 100%;
    top: 50%;
    margin: 0;
    padding: 1em auto;
    cursor: pointer;
    line-height: 1.1em;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.three-tabs .tab_button.active p { cursor: default; }

@media screen and (min-width: 800px) {
    .three-tabs .tab_button p { font-size: 18px; }
}

@media screen and (max-width: 800px) {
    .three-tabs .tab_button p { font-size: 16px; }
}

@media screen and (max-width: 500px) {
    .three-tabs .tab_button p {
        font-size: 15px;
        font-weight: 700;
        padding: 1em .5em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.local_departments_container .buttons_banner_h1 { font-size: 2rem; }


/* Tabbar */
.tabContent {
    width: 100%;
    border: 2px solid rgb(51, 51, 51); /* #333 */
    border-top: none;
}

.tabContent_inner {
    -moz-transition: height 0.25s ease;
    -webkit-transition: height 0.25s ease;
    -o-transition: height 0.25s ease;
    transition: height 0.25s ease;
}

.tabContent_inner ._content_fixer { padding: 1em; }
.tabContent_inner ._content { display: none; margin: 0; padding: 0; }

.tabContent_inner ._content > div {
    background-color: #f5f5f5;
    margin: 1em 0;
    padding: 2em 0;
}

.tabContent_inner ._content > div p { color: #222; }

.tabContent_inner ._content > div i.fab {
    float: left;
    font-size: 30px;
    color: #333;
}

.tabContent_inner ._content.shown {
    display: block;
    float: left;
    background-color: #fafafa;
    color: #222;
    width: 100%;
}

.edit-link { display: none; }


/* Meow tabs (faq-blocken) */
.meow-faq-block .meow-faq-question {
    background: #e9e9e9;
    border: 1px solid #e6e6e6;
    font-weight: 700;
    color:  #333;
    padding-right: 3em;
}

.meow-faq-block .meow-tab-answer { background: #fafafa; color: #222; }
.meow-faq-block .meow-tab-answer .meow-tab-content { padding-bottom: 2em; }
.meow-faq-block input[type=checkbox]+label::after { font-size: 1.2em; color: var(--pp-morkbla); }
.meow-faq-block input[type=checkbox]:checked+label::after { transform: rotate(45deg);  color: var(--pp-bla); }

/* Textblock */
.text-block {
    padding: 2em .5em 2.5em;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d9d9d9;
    color: #222;
    font-weight: 400;
}

.text-block.archive-description { padding: 2em .5em 1em; }

.text-block a { text-decoration: none; border-bottom: 1px solid rgb(0, 92, 159, .85); }
.text-block a:hover { color: rgb(0, 166, 208); border-bottom: 1px solid rgba(0, 166, 208, .85); }


/* Senaste nytt */
.news-list { background-color: #f5f5f5; }
/*.news-list a.cat-link { text-decoration: none; border-bottom: 1px solid transparent; }*/
.news-list article {
    color: #222;
    margin: 0;
    padding: 2em .5em;
    border-bottom: 1px solid #d9d9d9;
}
.news-list article:last-of-type { padding-bottom: 5em; border-bottom: none; }

/* olika bakgrund på varnannan rad */
.news-list article:nth-child(odd) { background-color: #fafafa; }
.news-list article:last-child { border-bottom: 0px solid transparent; }
.news-list span.date { font-weight: 300; }
/*.news-list h3 { clear: none; }*/

.text-block div h1, .text-block div h2,
.news-list article h1, .news-list article h2 {
    margin: 1em 0 .5em;
}

.text-block div h1:first-child, .text-block div h2:first-child,
.news-list article h1:first-child, .news-list article h2:first-child {
    margin: 0 0 1em;
}

.text-block h3, .news-list h3 { margin: 0 0 .5em; }
.text-block p, .news-list p { margin: 0 0 1em; }

.news-list .attachment-post-thumbnail { margin: 0 0 1.5em; }
.news-list div.entry-meta p { font-size: 14px; font-style: italic; }

/*div.text-block { text-align: justify; }*/
.text-block div span.search { font-size: 16px; color: #005c9f; font-weight: 700; }
.text-block form.search-form { margin-bottom: 2em; }

/* Kandidater */
.text-block img.kandidat-bild,
.tabContent_inner ._content_fixer img.kandidat-bild {
    max-width: 250px;
    background-color: #f5f5f5;
    padding: .8em;
    margin: 0 0 1em 1.5em;
    border: 1px solid #e0e0e0;
    box-shadow: 6px 6px 8px -2px rgba(0, 0, 0, .6);
    transform: rotate(3deg);
    outline: 1px solid transparent; /* antialiasing */
}


/* 1920/2 = 960 */
@media screen and (min-width: 900px) {
    .text-block div h1, .news-list article h1 { font-size: 18px; }
    .text-block div h2, .news-list article h2 { font-size: 16px; }
    .text-block div h1.entry-title, .news-list article h1.entry-title { font-size: 20px; }
    .text-block div h2.entry-title, .news-list article h2.entry-title { font-size: 18px; }
    .text-block h3, .news-list h3 { font-size: 16px; }
    .text-block div, .news-list article { font-size: 15px; }
}

@media screen and (max-width: 900px) {
    .text-block div h1, .news-list article h1 { font-size: 18px; }
    .text-block div h2, .news-list article h2 { font-size: 16px; }
    .text-block div h1.entry-title, .news-list article h1.entry-title { font-size: 20px; }
    .text-block div h2.entry-title, .news-list article h2.entry-title { font-size: 18px; }
    .text-block h3, .news-list h3 { font-size: 16px; }
    .text-block div, .news-list article { font-size: 15px; }

    .news-list img._thumb.alignleft { max-width: 150px; margin: 0 1em 1em 0; }
    div.text-block img.kandidat-bild,
    .tabContent_inner ._content_fixer img.kandidat-bild {
        padding: .4em;
        max-width: 150px;
    }
}

@media screen and (max-width: 500px) {
    div.text-block img.kandidat-bild,
    .tabContent_inner ._content_fixer img.kandidat-bild {
        padding: .35em;
        max-width: 100px;
    }

    .wp-block-image .alignright,
    .text-block div img.alignright,
    .text-block figure.alignright {
        /* .aligncenter */
        float: none; clear: both; display: block; margin: 0 auto .5em;
    }
    /*font-weight: 400;*/
    .text-block div h1, .news-list article h1 { font-size: 20px; }
    .text-block div h2, .news-list article h2 { font-size: 18px; }
    .text-block div h1.entry-title, .news-list article h1.entry-title { font-size: 22px; }
    .text-block div h2.entry-title, .news-list article h2.entry-title { font-size: 20px; }
    .text-block h3, .news-list h3 { font-size: 18px; }
    .text-block div, .news-list article { font-size: 16px; }
    .news-list img._thumb.alignleft { max-width: 100px; margin: 0 .5em .5em 0; }
}